{% if frmMessage[1] %}<div class="tree-{{ frmMessage[0] }}">{{ frmMessage[1] }}</div>{% endif %}
<form name="frm{{ dbform.name }}" id="frm{{ dbform.name }}" action="{{ action }}" method="post" onsubmit="return checkForm(this)" enctype="multipart/form-data">
  <input type="hidden" name="submited" value="1">
  {% for myId,i in items %}
  {% if i.type == 'hidden' %}<input type="hidden" name="{{ i.name }}" value="{{ i.value }}">{% endif %}
  {% endfor %}  
  <table width="250" class="frmContainer" border="0" cellspacing="0" cellpadding="3">
    {% for myId,i in items %}
    {% if i.type == 'file' %}
    <tr id="tr_{{ i.name }}">
      <td><div>{{ i.title }}{% if i.not_empty %}&nbsp;<span class="required">*</span>{% endif %}</div>
        <input style="width:100%" type="file" class="fls" title="{% if i.not_empty %}{{ i.title }}{% endif %}" name="{{ i.name }}" /></td>
    </tr>
    {% elseif i.type == 'password' %}
    <tr id="tr_{{ i.name }}">
      <td><div>{{ i.title }}{% if i.not_empty %}&nbsp;<span class="required">*</span>{% endif %}</div>
        <input style="width:100%" type="{{ i.type }}" class="txt" title="{% if i.not_empty %}{{ i.title }}{% endif %}" name="{{ i.name }}" value="" /></td>
    </tr>
    {% if i.is_check %}
    <tr id="tr_{{ i.name }}{{ pass_postfix }}">
      <td><div>{{ i.title }} еще раз{% if $i.not_empty %}&nbsp;<span class="required">*</span>{% endif %}</div>
        <input style="width:100%" type="{{ i.type }}" class="txt" title="{% if i.not_empty %}{{ i.title }} еще раз{% endif %}" name="{{ i.name }}{{ pass_postfix }}" value="" /></td>
    </tr>{% endif %}
    {% elseif i.type == 'string' %}
    <tr id="tr_{{ i.name}}">
      <td><div>{{ i.title}}{% if i.not_empty %}&nbsp;<span class="required">*</span>{% endif %}</div>
        <input style="width:100%" type="{{ i.type }}" class="txt" title="{% if i.not_empty %}{{ i.title }}{% endif %}" name="{{ i.name }}" value="{{ i.value }}" /></td>
    </tr>
    {% elseif i.type == 'checkbox' %}
    <tr id="tr_{{ i.name }}">
      <td><div>{{ i.title }}</div>
        <input style="width:100%" type="{{ i.type }}" class="chk" title="{% if i.not_empty %}{{ i.title }}{% endif %}" name="{{ i.name }}" {% if i.value != '' %}checked{% endif %} /></td>
    </tr>
    {% elseif i.type == 'text' %}
    <tr id="tr_{{ i.name }}">
      <td><div>{{ i.title }}{% if i.not_empty %}&nbsp;<span class="required">*</span>{% endif %}</div>
        <textarea style="width:100%" rows="5" title="{% if i.not_empty %}{{ i.title}}{% endif %}" name="{{ i.name }}" />{{ i.value }}</textarea></td>
    </tr>
    {% elseif i.type == 'select' %}
    <tr id="tr_{{ i.name }}">
      <td><div>{{ i.title }}{% if i.not_empty == true %}&nbsp;<span class="required">*</span>{% endif %}</div>
        <select style="width:100%" title="{% if i.not_empty %}{{ i.title }}{% endif %}" name="{{ i.name }}"{{ i.more }}> 
        <option value="0">...</option>
        {% for opId, op in i.select_values %}
        <option value="{{ op.value }}"{{ op.sel }}>{{ op.name }}</option>
        {% endfor %}
        </select></td>
    </tr>
	{% elseif i.type == 'enum' %}
    <tr id="tr_{{ i.name }}">
      <td><div>{{ i.title }}{% if i.not_empty == true %}&nbsp;<span class="required">*</span>{% endif %}</div>
        <select style="width:100%" title="{% if i.not_empty %}{{ i.title }}{% endif %}" name="{{ i.name }}"{{ i.more }}> 
        <option value="0">...</option>
        {% for opId, op in i.select_values %}
        <option value="{{ op.value }}"{{ op.sel }}>{{ op.name }}</option>
        {% endfor %}
        </select></td>
    </tr>
    {% endif %}
    {% endfor %}
    {% if dbform.is_defense %}
    <tr>
      <td><div>Введите символы на картинке внизу  <span class="required">*</span></div>
        <p><input type="text" title="Код безопасности" style="width:120px" name="securecode"></p>
        <p><img id="secure_image" src="/secureimage/?{{ app.session.name }}={{ app.session.id }}"> <a href="#" onclick="document.getElementById('secure_image').src='/secureimage/?rnd='+Math.random()+'&{{ app.session.name }}={{ app.session.id }}';return false">обновить код</a></p>
      </td>
    </tr>
    {% endif %}
    {% if dbform.needed %}<tr>
      <td><strong><span class="required">*</span></strong> &#8212; обязательные поля</td>
    </tr>{% endif %}
    <tr>
      <td><input type="submit" class="btn" value="{{ dbform.submit_text }}" /></td>
    </tr>
  </table>
</form>
