<br>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#generalform">Свойства</a></li>
  <li><a href="#fieldsform">Поля</a></li>
  <li><a href="#rightsform">Права</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane active" id="generalform">
    <form enctype="multipart/form-data" method="post" name="frmUpdateTable" id="frmUpdateTable">
      <input type="hidden" name="id" value="{{ a.id }}">
      <input type="hidden" name="module_id" value="{{ a.module_id }}">
      <table width="100%" cellspacing="0" class="tprops">
        <tr>
          <td><h4>Свойства</h4>
            <table style="width:350px;margin-left:15px" border="0" cellpadding="2" cellspacing="0">
              <tr>
                <td>Название:<br>
                  <input type="text" name="title" class="field-props" value="{{ a.title }}" /></td>
              </tr>
              <tr>
                <td>Системное имя:<br>
                  <input type="text" name="name" class="field-props" value="{{ a.name }}" /></td>
              </tr>
              <tr>
                <td>Сортировка:<br>
                  <input type="text" name="order_by" class="field-props" value="{{ a.order_by }}" /></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="2" cellspacing="0">
                    <tr>
                      <td><input type="checkbox" name="is_lang" {% if a.is_lang %}checked{% endif %} value="on" />
                        многоязычная</td>
                      <td><input type="checkbox" name="no_insert" {% if a.no_insert %}checked{% endif %} value="on" />
                        запрет добавления</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="is_sort" {% if a.is_sort %}checked{% endif %} value="on" />
                        с полем сортировки</td>
                      <td><input type="checkbox" name="no_update" {% if a.no_update %}checked{% endif %} value="on" />
                        запрет редактирования</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="is_publish" {% if a.is_publish %}checked{% endif %} value="on" />
                        c полем публикации</td>
                      <td><input type="checkbox" name="no_delete" {% if a.no_delete %}checked{% endif %} value="on" />
                        запрет удаления</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="is_view" {% if a.is_view %}checked{% endif %} value="on" />
                        вид "дерево"</td>
                      <td><input type="checkbox" name="is_search" {% if a.is_search %}checked{% endif %} value="on" />
                        поисковое поле</td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td>Префикс поиска:<br>
                  <input type="text" name="search_prefix" class="field-props-short" value="{{ a.search_prefix }}" /></td>
              </tr>
              <tr>
                <td>Сорт.:<br>
                  <input type="text" name="sort" class="field-props-short" value="{{ a.sort }}" /></td>
              </tr>
              <tr>
                <td>Активный:<br>
                  <input type="checkbox" name="publish" {% if a.publish %}checked{% endif %} value="on" /></td>
              </tr>
            </table></td>
        </tr>
      </table>
      <div class="ctlbtns">
        <input type="button" class="adm-btn" onClick="" value="Сохранить">
      </div>
    </form>
  </div>
  <div class="tab-pane" id="fieldsform">
    <form enctype="multipart/form-data" method="post" name="frmTableFields" id="frmTableFields">
      <table width="100%" cellspacing="0" class="tprops">
        <tr>
          <td><h4>Поля</h4>
            <table class="tfields" align="center" width="720" border="0" cellpadding="2" cellspacing="0">
              <tr>
                <th width="2%">ID</th>
                <th width="30%">Название</th>
                <th width="30%">Системное имя</th>
                <th width="30%">Тип</th>
                <th width="8%">Сорт.</th>
                <th width="8%">Изм.</th>
              </tr>
              {% for f in fields %}
              {% if f.id %}
              <tr>
                <td>{{ f.id }}&nbsp;</td>
                <td><input type="text" name="title_{{ f.id }}" value="{{ f.title }}" /></td>
                <td><input type="text" name="name_{{ f.id }}" value="{{ f.name }}" /></td>
                <td><select name="type_{{ f.id }}">
		          	{% for t in types %}	
                    <option value="{{ t[1] }}" {% if t[1] == f.type %}selected{% endif %}>{{ t[0] }}</option>
                    {% endfor %}
                  </select></td>
                <td><input type="text" name="ord_{{ f.id}}" value="{{ f.ord }}" /></td>
                <td align="center"><a href="#" onclick="xajax_editField({{ f.id }});return false;"><img src="{{ theme_ref }}/img/icons/icon_edit.gif" border="0" /></a></td>
              </tr>
              {% endif %}{% endfor %}
            </table></td>
        </tr>
      </table>
      <div class="ctlbtns">
        <input type="button" class="adm-btn" onClick="updateFields({{ a.id }}, 'frmTableFields');" value="Сохранить">
      </div>
    </form>
  </div>
  <div class="tab-pane" id="rightsform">
    <form enctype="multipart/form-data" method="post" name="frmTableRights" id="frmTableRights">
      <input type="hidden" name="table_id" value="{{ a.id }}">
      <table width="100%" cellspacing="0" class="tprops">
        <tr>
          <td><h4>Права</h4>
            <table class="tfields" align="center" width="400" border="0" cellpadding="2" cellspacing="0">
              {% for g in groups %}
              <tr>
                <td>{{ g.name }} <a href="/admin/user/group/edit/{{ g.id }}">[{{ g.id }}]</a></td>
                <td>
                {% if g.id == 1 %}
                По-умолчанию (полный доступ)
                {% else %}
                <select name="type_{{ f.id }}">
		          	{% for k,r in rights %}	
                    <option value="{{ k }}" {% if k == f.type %}selected{% endif %}>{{ r }}</option>
                    {% endfor %}
                  	</select>{% endif %}</td>
              </tr>
              {% endfor %}
            </table></td>
        </tr>
      </table>
      <div class="ctlbtns">
        <input type="button" class="adm-btn" onClick="updateRights({{ a.id }}, 'frmTableRights');" value="Сохранить">
      </div>
    </form>
  </div>
</div>
