<div class="nums">
Записи {{ currentItems }} из {{ totalItems }}	
<div class="pagination">
  <ul>
<li{% if begin_link == '' %} class="disabled"{% endif %}><a href="{{ begin_link }}">Начало</a></li>
<li{% if prev_link == '' %} class="disabled"{% endif %}><a href="{{ prev_link }}">&laquo;</a></li>
{% for k,i in pages %}
<li{% if page == i.name %} class="active"{% endif %}><a href="{{ i.ref }}">{{ i.name }}</a></li>
{% endfor %}
<li{% if next_link == '' %} class="disabled"{% endif %}><a href="{{ next_link }}">&raquo;</a></li>
<li{% if end_link == '' %} class="disabled"{% endif %}><a href="{{ end_link }}">Конец</a></li>
  </ul>
</div></div>